*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
    display: flex;
    background-color: gold;
    justify-content: space-around;
    padding: 25px;
    flex-wrap: wrap;
}
.card-item{
    background-color:silver ;
    border-radius: 5px;
    margin: 15px;
    width: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}